<div class="container">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse corrupti omnis facilis fugit praesentium quaerat voluptatibus, recusandae itaque, vero dolor impedit qui a quisquam, molestiae nihil iure sit fuga magnam..</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi libero odio rerum tempore non necessitatibus. Impedit adipisci voluptatibus, obcaecati quos dolor eius explicabo optio? Atque vel odit soluta laborum repellat.</p>
  </div>
  