<div class="container mt-5">
  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" [src]="product.imageUrl" alt="{{product.name}}" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Precio: {{ product.price | currency }}</p>
          <p *ngIf="product.stock > 0" class="card-text">Stock: {{ product.stock }}</p>
          <p *ngIf="product.stock === 0" class="card-text text-danger">SIN STOCK</p>
          <div *ngIf="product.stock > 0 || product.quantity > 0" class="d-flex align-items-center">
            <button class="btn btn-secondary mr-2" (click)="decreaseQuantity(product)" [disabled]="product.quantity === 0">-</button>
            <span>{{ product.quantity }}</span>
            <button class="btn btn-secondary ml-2" (click)="increaseQuantity(product)" [disabled]="product.stock === 0">+</button>
          </div>
          <button class="btn btn-primary mt-3" (click)="addToCart(product)" [disabled]="product.quantity === 0">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
